<div>
  <mat-card>
    <button mat-raised-button color="primary" [routerLink]="['/department/create']">
      Create a department
    </button>
    <br /><br />
    <mat-divider></mat-divider>
    <br />

    <div class="mat-typography">
      <h3>Department list</h3>
    </div>

    <mat-card-content>
      <mat-table [dataSource]="deptList">
        <ng-container matColumnDef="deptName">
          <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.deptName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="streamType">
          <mat-header-cell *matHeaderCellDef>Stream / Branch</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.streamType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hodName">
          <mat-header-cell *matHeaderCellDef>H.O.D.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.hodName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary" (click)="getDetails(element._id)">Details</button>
            <button mat-button color="primary" (click)="editDepartment(element._id)">Edit</button>
            <button mat-button color="primary" (click)="deleteDepartment(element._id)">Delete</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <br />
    </mat-card-content>
  </mat-card>
</div>