<div>
  <mat-card>
    <mat-card-title>
      Department list
    </mat-card-title>

    <mat-card-content>
      <mat-table [dataSource]="deptList">
        <ng-container matColumnDef="deptName">
          <mat-header-cell *matHeaderCellDef>Department</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.deptName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="streamType">
          <mat-header-cell *matHeaderCellDef>Stream / Branch</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.streamType}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="hodName">
          <mat-header-cell *matHeaderCellDef>H.O.D.</mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.hodName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef class="mat-column-right">Actions</mat-header-cell>
          <mat-cell *matCellDef="let element" class="mat-column-right">
            <button mat-button color="primary" (click)="getDetails(element._id)">Details</button>
            <button mat-button color="primary" (click)="editDepartment(element._id)">Edit</button>
            <button mat-button color="primary">Delete</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>