.mat-card {
  text-align: center;

  .mat-card-title,
  .mat-card-content {
    margin-top: 25px;
  }

  .mat-card-footer {
    text-align: left;
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 0px;
  }

  a {
    text-decoration: none;
  }
}
